@mixin gradientText {
    background: -webkit-linear-gradient($crollbar-color, $main-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradientBg {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        45deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(245, 138, 7, 1) 0%,
        rgba(171, 167, 236, 1) 100%
    );
}

@mixin radioGradientBg {
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(245, 138, 7, 1) 0%,
        rgba(68, 61, 175, 1) 100%
    );
}

@mixin textStyle($color, $font-weight, $font-size) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin flexStyle {
    display: flex;
    align-items: center;
}

@mixin btnHoverDF {
    color: $text-color;
    background-color: $main-bg-color;
    transition: all 1.2s;
}

@mixin resetUL {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

@mixin resetA {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin aStyle($font-size, $font-weight, $color) {
    display: block;
    text-decoration: none;
    height: 100%;
    @include textStyle($color, $font-weight, $font-size);
    // căn giữa theo chiều dọc
    text-align: center;
    text-transform: capitalize;
}

@mixin widthHeight($width, $height: $width) {
    width: $width;
    height: $height;
}
