@mixin textStyle($color, $font-weight, $font-size) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin flexStyle {
    display: flex;
    align-items: center;
}

@mixin btnHoverDF {
    color: $text-color;
    background-color: $main-bg-color;
    transition: all 1.2s;
}

@mixin resetUL {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

@mixin resetA {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin aStyle($font-size, $font-weight, $color) {
    display: block;
    text-decoration: none;
    height: 100%;
    @include textStyle($color, $font-weight, $font-size);
    // căn giữa theo chiều dọc
    text-align: center;
    text-transform: capitalize;
}

@mixin widthHeight($width, $height: $width) {
    width: $width;
    height: $height;
}
