@import './variable';
@import './mixin';

.bar {
    background-color: $main-bg-color;
    position: fixed;
    top: calc(50% + -70px);
    /* left: 0; */
    width: $width-bar;
    right: ($off-bar - $shadow-bar);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 $shadow-bar  $crollbar-color;
    overflow: hidden;
    transition: all 0.85s ease-out;

    &__icon {
        position: relative;
        transform: translate(calc(50% + 12px), calc(50% + -7px));
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include resetUL;
        margin: 6px 0;

        .bar__item {
            // width: 100%;
            &__link {
                @include resetA;
                color: $highlight-color;
                background-color: #fff;
                text-align: center;
                margin: 3px;
                border: 1px solid $tag-text-color;
                border-radius: 50%;
                
                .icon {
                    transform: translate(calc(-50% + 8px), calc(-50% + 7px));
                    font-size: 17px;
                }
            }
        }

        .bar__item:hover .bar__item__link {
            color: $text-color;
            background-color: $highlight-color;
            transition: all 1.2s;
        }
    }
}

.bar.notActive {
    border-radius: 16px;
    margin-right: 3px;
    @include widthHeight(50px);
}
.bar.notActive {
    .bar__icon {
        transform: translate(calc(50% + -3px), calc(50% + -3px));
        font-size: 28px;
    }
} 