$main-bg-color: #443DAF;
$crollbar-color: #aba7ec;
$highlight-color: #F58A07;
$logo-color: #fff;
$text-color: #fff;

// light
$text-on-light-theme: #525760;
$bolder-text-on-light-theme: #21252C;
$bg-light: #fff;

// dark
$text-on-dark-theme: #fff;
$bolder-text-on-dark-theme: #fff;
$bg-main: #F9F9F9;
$bg-dark: #1C2D50;

$shadow-color: #1f2235;
// line
$line-color: #e7e7e7;
$tag-text-color: #f5f5f5;
// home
$header-height: 100px;
$footer-height: 100px;
// 
$padding-top-profile: $header-height + 40px;

$pad-or-margin-title: 16px;
$margin-right-of-icon: 10px;
$margin-top-item-of-about: 48px;